<p>
  <%= @user.username %>'s wall
</p>

<p>
  <strong>location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>bio:</strong>
  <%= @user.bio %>
</p>

<table>
  <% @posts.each do |post| %>
    <%= render partial: '/posts/post', locals: { post: post, user: @user, show_user: false, allow_edit: true } %>
  <% end %>
</table>