<h1>Users#show</h1>

<p>
  <strong>name:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>location:</strong>
  <%# @user.username %>
</p>

<p>
  <strong>bio:</strong>
  <%# @user.username %>
</p>

<table>
  <% @posts.each do |post| %>
    <%= render partial: '/posts/post', locals: { post: post, show_user: false } %>
  <% end %>
</table>