<p>This the wall of everyone's Wall</p>
<p>Currently under construction, check back later</p>

<% @posts.each do |post| %>
  <%= render partial: '/posts/post', locals: { post: post, user: post.user, show_user: true, allow_edit: false } %>
<% end %>