<details class="post">
  <summary>
    <%= post.created_at %> 
    <% if show_user != false %>
      by <%= link_to post.user.username, user_path(post.user.id) %>
    <% end %>
  </summary>
  <p><%= post.content %></p>
  <p><%= post.tags %></p>
</details>